@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  background: darkcyan;
  color: white;
  text-transform: uppercase;
}

button:disabled {
  opacity: 0.2;
}

input {
  outline: none;
  height: 40px;
  padding-left: 20px;
}
