.quiz {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #363638;
}

.timer {
	height: 0.5rem;
	width: calc(100% + 2px);
	box-sizing: border-box;
}

.timerInner {
	height: 100%;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.animateTimer {
	animation: animate-timer linear;
}

.animateScore {
	animation: animate-score 250ms ease-in-out 250ms;
}
.score {
	width: 100%;
	height: 10%;
}

.scoreContainer {
	position: absolute;
	bottom: 0;
	transform: translateY(2px);
	display: flex;
	flex-direction: column;
	width: calc(100% + 2px);
	height: 1rem;
	border-bottom-right-radius: 1.5rem;
	overflow: hidden;
	border-bottom-left-radius: 1.5rem;
}

.scoreContainer > div {
	border-bottom-right-radius: 1rem;
	border-top-right-radius: 1rem;
	height: 0.5rem;
	width: 0%;
	transition: width 0.2s ease;
}

.myScore {
	background-color: #ffa400;
	/* background-color: #90C2E7; */
	/* background-color: #FFC971 ; */
	/* background-color: #BFDBF7; */
	background-color: #BFAFA6 ;
	/* background-color: #FFB86F; */
	/* background-color: #B796AC; */
}
.opponentScore {
	background-color: rgb(60,60,60);
	/* background-color: #BFDBF7; */
	/* background-color: #BFAFA6 ; */
	background-color: #6A584D;
}

/* RTG */

.appear,
.enter {
	opacity: 0;
	transform: scale(0.98);
}

.appearActive,
.enterActive {
	opacity: 1;
	transform: scale(1);
	transition: all 250ms ease-in 250ms;
}

.exit {
	opacity: 1;
	transform: scale(1);
}

.exitActive {
	opacity: 0;
	transform: scale(0.98);
	transition: all 250ms ease-out;
}

/* Animation */

@keyframes animate-timer {
	0% {
		background-color: #fff;
		width: 0%;
	}

	100% {
		width: 100%;
		background-color: firebrick;
	}
}
