.cardButton {
	width: 80px;
	height: 100%;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 1rem;
	border-left: 1px solid rgba(128, 128, 128, 0.555);
}

.cardIcon,
.cardText {
	height: 100%;
	transition: transform 0.3s ease;
	text-align: center;
	line-height: 80px;
	border-bottom-right-radius: 1rem;
}

.cardIcon {
	font-size: 2.5rem;
	color: #363638;
}

.cardIcon svg path {
	stroke: #b6b6b4;
	stroke-width: 1.5rem;
}

.cardText {
	color: #363638;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.cardButton:hover > div {
	transform: translateY(-100%);
	cursor: pointer;
}

.cardButton:active {
	opacity: 0.7;
}

.cardButton.disabled,
.cardButton.disabled:hover > div {
	transform: translateY(0);
	cursor: not-allowed !important;
	opacity: 0.8;
}
